<h3><i class="fa-brands fa-twitter" style="color:#2196f3"></i> Twitter</h3>
<div class="section">
    <p class="lead">Create public and private tweets</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn blue darken-5">
        <i class="fab fa-google left"></i> Login with Google
    </a>
</div>